table {
  width: 100%;
}

.left-align {
  margin-left: -28px;
}

.to-prison-left-align {
  margin-left: -19px;
}

.file-number-left-align {
  margin-left: -37px;
}

.national-id-left-align {
  margin-left: -45px;
}

.transfer-date-left-align {
  margin-left: -12px;
}
