<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Transfer</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <label>National ID</label>
      </ion-col>
      <ion-col size="2">
        <label>File Number</label>
      </ion-col>
      <ion-col size="2">
        <label>From Prison</label>
      </ion-col>
      <ion-col size="2">
        <label>To Prison</label>
      </ion-col>
      <ion-col size="2">
        <label>Date Of Transfer</label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ul>
      <div *ngFor="let transfer of transferDetail.transfers">
       <!-- <a routerLink="/transfer/{{transfer.nationalID}}">
          <span>{{transfer.nationalID}}</span> <span>{{transfer.fromPrison}}</span>
        </a>
        <ion-button (click)="delete(transfer)">x</ion-button>-->
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <span>{{transfer.nationalID}}</span>
            </ion-col>
            <ion-col size="2">
              <span>{{transfer.fileNumber}}</span>
            </ion-col>
            <ion-col size="2">
              <span>{{transfer.fromPrison}}</span>
            </ion-col>
            <ion-col size="2">
              <span>{{transfer.toPrison}}</span>
            </ion-col>
            <ion-col size="2">
              <span>{{transfer.dateOfTransfer}}</span>
            </ion-col>
            <ion-col size="2">
              <ion-button (click)="delete(transfer)"><ion-icon name="trash"></ion-icon></ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ul>
  </ion-grid>
  <ion-button (click)="addTransfer()">Add transfer</ion-button>
  <div *ngIf="showEdit">
    <label>{{actionMessage}}</label>
    <form class="form-horizontal">
      <ion-grid>
        <ion-row>
          <ion-col>
            <label>National ID</label>
            <input type="text" [(ngModel)]="newTransfer.nationalID" name="nationalID">
          </ion-col>
          <ion-col>
            <label>File Number</label>
            <input type="text" [(ngModel)]="newTransfer.fileNumber" name="fileNumber">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <label>From Prison:</label>
            <input type="text" [(ngModel)]="newTransfer.fromPrison" name="dateOfBirth">
          </ion-col>
          <ion-col>
            <label>To Prison:</label>
            <input type="text" [(ngModel)]="newTransfer.toPrison" name="sentence">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <label>Date Of Transfer</label>
            <input type="text" [(ngModel)]="newTransfer.dateOfTransfer" name="location">
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button (click)="add(newTransfer)">Save</ion-button>
      <ion-button (click)="cancel()">Cancel</ion-button>
    </form>
  </div>
</ion-content>


<!--<ion-content class="profile">
  <ion-grid fixed no-padding="">
    <ion-row>
      <ion-col size="12" padding>
        <ion-list margin-bottom>

          <ion-item>
            <ion-label color="dark" position="stacked">National ID:</ion-label>
            <ion-input inputmode="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="dark" position="stacked">File Number:</ion-label>
            <ion-input inputmode="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="dark">From Prison:</ion-label>
            <ion-select>
              <ion-select-option value="nes">Wellington</ion-select-option>
              <ion-select-option value="n64">Pollsmoor</ion-select-option>
              <ion-select-option value="ps">Kokstad Maximum</ion-select-option>
              <ion-select-option value="genesis">Pretoria Maximum</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label color="dark">To Prison:</ion-label>
            <ion-select>
              <ion-select-option value="nes">Wellington</ion-select-option>
              <ion-select-option value="n64">Pollsmoor</ion-select-option>
              <ion-select-option value="ps">Kokstad Maximum</ion-select-option>
              <ion-select-option value="genesis">Pretoria Maximum</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label color="dark" position="stacked">Date Of Transfer:</ion-label>
            <ion-datetime name="dateOfTrial"></ion-datetime>
          </ion-item>

          <div class="ion-padding">
            <ion-button expand="block" type="submit" (click)="addCase()" class="ion-no-margin">Add transfer</ion-button>
          </div>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>-->

<!--<ion-content class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">
    <form class="list-form">
      <ion-list class="ion-no-margin ion-no-padding">
        <table class="table">
          <thead>
          <tr>
            <th>National ID</th>
            <th>File Number</th>
            <th>From Prison</th>
            <th>To Prison</th>
            <th>Date Of Transfer</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <ion-item>
                <ion-input inputmode="text"></ion-input>
              </ion-item>
            </td>

            <td>
              <ion-item>
                <ion-input inputmode="text"></ion-input>
              </ion-item>
            </td>

            <td>
              <ion-item>
                <ion-select>
                  <ion-select-option value="nes">Wellington</ion-select-option>
                  <ion-select-option value="n64">Pollsmoor</ion-select-option>
                  <ion-select-option value="ps">Kokstad Maximum</ion-select-option>
                  <ion-select-option value="genesis">Pretoria Maximum</ion-select-option>
                </ion-select>
              </ion-item>
            </td>

            <td>
              <ion-item>
                <ion-select>
                  <ion-select-option value="nes">Wellington</ion-select-option>
                  <ion-select-option value="n64">Pollsmoor</ion-select-option>
                  <ion-select-option value="ps">Kokstad Maximum</ion-select-option>
                  <ion-select-option value="genesis">Pretoria Maximum</ion-select-option>
                </ion-select>
              </ion-item>
            </td>

            <td>
              <ion-item>
                <ion-datetime name="dateOfTrial"></ion-datetime>
              </ion-item>
            </td>

          </tr>
          </tbody>
        </table>

        <div class="ion-padding">
          <ion-button expand="block" type="submit" class="ion-no-margin">Add transfer</ion-button>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>-->



