<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Transfer</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar><ion-searchbar></ion-searchbar></ion-toolbar>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <label>National ID</label>
      </ion-col>
      <ion-col size="2">
        <label>File Number</label>
      </ion-col>
      <ion-col size="2">
        <label>From Prison</label>
      </ion-col>
      <ion-col size="2">
        <label>To Prison</label>
      </ion-col>
      <ion-col size="2">
        <label>Date Of Transfer</label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ul>
      <div *ngFor="let transfer of transferDetail.transfers">
       <!-- <a routerLink="/transfer/{{transfer.nationalID}}">
          <span>{{transfer.nationalID}}</span> <span>{{transfer.fromPrison}}</span>
        </a>
        <ion-button (click)="delete(transfer)">x</ion-button>-->
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <span class="national-id-left-align">{{transfer.nationalID}}</span>
            </ion-col>
            <ion-col size="2">
              <span class="file-number-left-align">{{transfer.fileNumber}}</span>
            </ion-col>
            <ion-col size="2">
              <span class="left-align">{{transfer.fromPrison}}</span>
            </ion-col>
            <ion-col size="2">
              <span class="to-prison-left-align">{{transfer.toPrison}}</span>
            </ion-col>
            <ion-col size="2">
              <span class="transfer-date-left-align">{{transfer.dateOfTransfer}}</span>
            </ion-col>
            <ion-col size="2">
              <ion-button (click)="delete(transfer)"><ion-icon name="trash"></ion-icon></ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ul>
  </ion-grid>
  <ion-button (click)="addTransfer()">Add transfer</ion-button>
  <div *ngIf="showEdit">
    <label>{{actionMessage}}</label>
    <form class="form-horizontal">
      <ion-grid>
        <ion-row>
          <ion-col>
            <label>National ID</label>
            <input type="text" [(ngModel)]="newTransfer.nationalID" name="nationalID">
          </ion-col>
          <ion-col>
            <label>File Number</label>
            <input type="text" [(ngModel)]="newTransfer.fileNumber" name="fileNumber">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <label>From Prison:</label>
            <input type="text" [(ngModel)]="newTransfer.fromPrison" name="dateOfBirth">
          </ion-col>
          <ion-col>
            <label>To Prison:</label>
            <input type="text" [(ngModel)]="newTransfer.toPrison" name="sentence">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <label>Date Of Transfer</label>
            <input type="text" [(ngModel)]="newTransfer.dateOfTransfer" name="location">
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button (click)="add(newTransfer)">Save</ion-button>
      <ion-button (click)="cancel()">Cancel</ion-button>
    </form>
  </div>
</ion-content>
