<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create Case</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">
    <!-- Cases Form -->
    <form class="list-form">
      <ion-list class="ion-no-margin ion-no-padding">
        <table class="table">
          <thead>
           <tr>
             <th>National ID<span class="required"></span></th>
             <th class="required">File Number</th>
             <th class="required">Date Of Trial</th>
             <th>Sentence</th>
             <th>Location</th>
           </tr>
          </thead>
          <tbody>
            <tr *ngFor="let case of caseData; index as i">
              <td>
                <ion-item>
                  <ion-input type="text" class="item" [(ngModel)]="case.nationalID" name="nationalID"></ion-input>
                </ion-item>
              </td>
              <td>
                <ion-item>
                  <ion-input type="text" [(ngModel)]="case.fileNumber" name="fileNumber"></ion-input>
                </ion-item>
              </td>
              <td>
                <ion-item>
                  <ion-datetime [(ngModel)]="case.dateOfTrial" name="dateOfTrial"></ion-datetime>
                </ion-item>
              </td>
              <td>
                <ion-item>
                  <ion-input type="text" [(ngModel)]="case.sentence" name="sentence"></ion-input>
                </ion-item>
              </td>
              <td>
                <ion-item>
                  <ion-input type="text" [(ngModel)]="case.location" name="location"></ion-input>
                </ion-item>
              </td>
              <td>
                <button data-toggle="modal" data-target="#myBen1">
                  <ion-icon name="trash"></ion-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="ion-padding">
          <ion-button expand="block" type="submit" (click)="addCase()" class="ion-no-margin">Add case</ion-button>
        </div>

        <div class="ion-padding">
          <ion-button expand="block" type="submit" class="ion-no-margin">Update case</ion-button>
        </div>

      </ion-list>
    </form>
  </div>
</ion-content>

