<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Prisoners</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ul>
    <li *ngFor="let prisoner of prisonerDetail.prisoners">
      <a routerLink="/prisoner/{{prisoner.nationalID}}">
        <span>{{prisoner.nationalID}}</span> <span>{{prisoner.fullName}}</span> <span>{{prisoner.location}}</span>
      </a>
      <ion-button (click)="delete(prisoner)">x</ion-button>
    </li>
  </ul>
  <ion-button (click)="addPrisoner()">Add prisoner</ion-button>
  <div *ngIf="showEdit">
    <label>{{actionMessage}}</label>
    <form class="form-horizontal">
      <ion-grid>
        <ion-row>
          <ion-col>
            <label>National ID</label>
            <input type="text" [(ngModel)]="newPrisoner.nationalID" name="nationalID">
          </ion-col>
          <ion-col>
            <label>File Number</label>
            <input type="text" [(ngModel)]="newPrisoner.fileNumber" name="fileNumber">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <label>Date Of Trial</label>
            <input type="text" [(ngModel)]="newPrisoner.dateOfBirt" name="dateOfBirth">
          </ion-col>
          <ion-col>
            <label>Sentence</label>
            <input type="text" [(ngModel)]="newPrisoner.sentence" name="sentence">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
          <label>Location</label>
          <input type="text" [(ngModel)]="newPrisoner.location" name="location">
        </ion-col>
          <ion-col>
            <label>Full Name</label>
            <input type="text" [(ngModel)]="newPrisoner.fullName" name="fullName">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <label>Address</label>
            <input type="text" [(ngModel)]="newPrisoner.address" name="address">
          </ion-col>
          <ion-col>
            <label>Prison</label>
            <input type="text" [(ngModel)]="newPrisoner.prison" name="prison">
          </ion-col>
        </ion-row>
        <ion-row>
        <ion-col>
          <label>Gender</label>
          <input type="text" [(ngModel)]="newPrisoner.gender" name="gender">
        </ion-col>
        <ion-col>
          <label>Education</label>
          <input type="text" [(ngModel)]="newPrisoner.education" name="education">
        </ion-col>
      </ion-row>
        <ion-row>
          <ion-col>
            <label>Status</label>
            <input type="text" [(ngModel)]="newPrisoner.status" name="status">
          </ion-col>
          <ion-col>
            <label>Offence</label>
            <input type="text" [(ngModel)]="newPrisoner.offence" name="offence">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <label>Date In</label>
            <input type="text" [(ngModel)]="newPrisoner.dateIn" name="dateIn">
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-button (click)="add(newPrisoner)">Save</ion-button>
      <ion-button (click)="cancel()">Cancel</ion-button>
    </form>
  </div>
</ion-content>
